<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
  <div class="container">
    <div class="navbar-translate">
      <a class="navtext" href="#">Invest</a>
      <a class="navtext" href="#">Cash</a>
      <a class="navtext" href="#">Borrow</a>
      <a class="navtext" href="#">Blog</a>
    </div>
    <div class="navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <select
            class="form-control navBackground"
            id="exampleFormControlSelect1"
          >
            <option style="color: black">Eng</option>
            <option style="color: black">Eng2</option>
            <option style="color: black">Eng3</option>
          </select>
        </li>
        <li class="nav-item">
          <button class="button2">Signup</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
