<div class="row">
  <div class="page-header pageDesign">
    <div class="row">
      <div class="col-xl-6">
        <div class="container1">
          <h1 class="font-shadow">Make wealth <br />your own.</h1>
          <p class="whiteColor">
            Personalized,Automated,Effortless <br> Investing and Savings
          </p>
          <div class="row" style="margin-left: 5px">
            <button class="button2">Get Started</button>
            <button class="md-button"></button>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="container2">
          <img src="assets/mobile2.jpg" class="shadow" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="marginSet">
  <div class="row" style="border-top: 1px solid lightgray; border-width: thin">
    <div class="col-md-5">
      <div style="margin-top: 20px">
        <h1 class="font-weight-bold nerdColor">
          <img src="assets/N-icon.png" style="height: 40px; width: 40px" />
          nerdwallet<span class="nerdcolor" style="font-size: x-small;" > TM</span>
        </h1>
        <p style="color: gray; font-size: medium">
          Best Robo-adviser,2019 1 <br />
          Best Cash Management App,2020 1
        </p>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card card3">
        <div style="margin-top: 40px">
          <h1 class="font-weight-bold" style="font-size: 35px;">450k+</h1>
          <p style="color: gray; font-size: medium">Trusted Clients</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card card2">
        <div style="margin-top: 40px">
          <h1 class="font-weight-bold" style="font-size: 35px;">$25B+</h1>
          <p style="color: gray; font-size: medium">In client Funds</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card card3">
        <div style="margin-top: 40px">
          <h1 class="font-weight-bold" style="font-size: 35px;">4.9 <span class="font20">⭐</span></h1>
          <p style="color: gray; font-size: medium">Apple App Store</p>
        </div>
      </div>
    </div>
  </div>
</div>
